<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miymayster.myvine">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VineListActivity"
            android:label="@string/label_my_vines"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AddVineActivity"
            android:label="@string/label_my_vines"
            android:launchMode="singleTop"
            android:parentActivityName=".VineListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VineListActivity" />
        </activity>
        <activity
            android:name=".VineInfoActivity"
            android:label="@string/label_chosen_vine"
            android:launchMode="singleTop"
            android:parentActivityName=".VineListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VineListActivity" />
        </activity>
        <activity
            android:name=".VineEditActivity"
            android:label="@string/label_chosen_vine"
            android:launchMode="singleTop"
            android:parentActivityName=".VineInfoActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VineInfoActivity" />
        </activity>
        <activity
            android:name=".VinePhotoActivity"
            android:parentActivityName=".VineInfoActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VineInfoActivity" />
        </activity>

        <provider
            android:authorities="com.miymayster.myvine"
            android:name=".data.MyVineContentProvider"
            android:exported="false" />
    </application>

</manifest>